.navbar {
    background-color: var(--theme) !important;; 
}

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--theme) !important;;
}

.navbar-brand {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 24px; /* adjust as needed */
    font-weight: bold;
    color: var(--primary) !important;
    background-color: var(--theme) !important;
    text-decoration: none !important;
  }

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none !important;
    color: var(--primary) !important; /* Adjust if you want a different hover color */
    background-color: var(--theme) !important;
}

.header-margin-bottom {
    margin-bottom: 40px;
}

/* These 'icon' buttons ar for sun mooon */
.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-button svg {
  fill: #fff; 
  filter: brightness(0) invert(1); /* Example filter */
}

.icon-button svg {
    filter: brightness(0) invert(1); /* Inverts the color, making dark colors light */
}

.icon-button:hover, .icon-button:focus {
  /* Add styles for hover/focus to indicate it's clickable */
  opacity: 0.9;
}

.icon-image {
    width: 24px;
    height: 18px;
    filter: brightness(0) invert(1); /* Example filter */
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Space between icons */
}

/* Light mode adjustments */
.light-mode .icon-button svg, .light-mode .icon-image {
  fill: #000; /* Black color for light mode */
  filter: none; /* Removes filter, showing original icon colors (assuming they are dark) */
}

.navbar-content {
    display: flex;
    justify-content: center; /* This will center the children horizontally */
    align-items: center; /* This will center the children vertically */
    background-color: var(--theme) !important;
}

body {
  background-color: var(--theme) !important;
  color: var(--primary);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
}

/* Set a default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  /* Buttons styling */
.btn {
    margin: 10px 0; /* Add space between buttons */

  }

:root {
  --theme-light: rgb(189, 194, 229);
  --entry-light: rgb(255, 245, 230);
  --primary-light: rgb(40, 40, 40);
  --secondary-light: rgb(108, 108, 108);
  --tertiary-light: rgb(200, 200, 200);
  --content-light: rgb(50, 50, 50);
  --code-block-bg-light: rgb(28, 29, 33);
  --code-bg-light: rgb(240, 240, 240);
  --border-light: rgb(230, 230, 230);
  --theme-dark: rgb(189, 194, 229);
  --entry-dark: rgb(46, 46, 51);
  --primary-dark: rgb(186, 186, 246);
  --secondary-dark: rgb(155, 156, 157);
  --tertiary-dark: rgb(65, 66, 68);
  --content-dark: rgb(196, 196, 197);
  --code-block-bg-dark: rgb(46, 46, 51);
  --code-bg-dark: rgb(55, 56, 62);
  --border-dark: rgb(51, 51, 51);

  /* Default to dark theme variables */
  --primary: var(--primary-dark);
  --theme: var(--theme-dark);
  --secondary: var(--secondary-dark);
  --tertiary: var(--tertiary-dark);
  --content: var(--content-dark);
  --code-block-bg: var(--code-block-bg-dark);
  --code-bg: var(--code-bg-dark);
  --border: var(--border-dark);
}

.light-mode {
  --primary: var(--primary-light);
  --theme: var(--theme-light);
  --secondary: var(--secondary-light);
  --tertiary: var(--tertiary-light);
  --content: var(--content-light);
  --code-block-bg: var(--code-block-bg-light);
  --code-bg: var(--code-bg-light);
  --border: var(--border-light);
}

.dark-mode {
  --primary: var(--primary-dark);
  --theme: var(--theme-dark);
  --secondary: var(--secondary-dark);
  --tertiary: var(--tertiary-dark);
  --content: var(--content-dark);
  --code-block-bg: var(--code-block-bg-dark);
  --code-bg: var(--code-bg-dark);
  --border: var(--border-dark);
}

/* Theme-specific overrides */
.light-mode .btn-outline-dark {
  border-color: var(--secondary-light);
  background-color: var(--tertiary-light);
}

.light-mode #logoutButton {
  margin-left:16px;
}

.dark-mode .btn-outline-dark {
  border-color: var(--secondary-dark);
  background-color: var(--tertiary-dark);
}

.dark-mode #logoutButton {
  margin-left:16px;
}

.btn-outline-dark {
  color: var(--content); /* Default text color */
  opacity: 0.8;
}

#logoutButton {
  margin-left:16px;
}

.header-title {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 36px;
}

.fixed-position {
  position: fixed; /* or 'sticky' */
  top: 10px; /* distance from the top */
  left: 10px; /* distance from the left */
  z-index: 10; /* ensure it's on top of other elements */
}


.main-title {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.main-paragraph {
  margin: 0 auto;
  text-align: justify;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
}

.main-paragraph-mid {
  margin: 0 auto;
  text-align: justify;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
}

.main-paragraph-small {
  margin: 0 auto;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  text-align: justify;
}

.segmenter-dropdown-row {
  justify-content: center; /* Center columns in the row */
}

.dropdown-style {
    color: black;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
}

.dropdown-small-text {
    font-size: 11px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 10px;
    
}

.dropdown-instructions {
  font-size: 11px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 10px;
  
}

.dropdown-container-style {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  min-width: 200px; /* Prevent shrinking below this width */
  max-width: 300px;
}

.dropdown-container-grapher-style {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-width: 200px; /* Prevent shrinking below this width */
  max-width: 300px;
}

.dropdown-centered {
  margin: 0 auto;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  min-width: 150px; /* Prevent shrinking below this width */
  max-width: 300px;
}

.dropdown-prompt {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width:250
}
.section-header {
    text-align: center;
    margin-top: 40px;
    margin-left: 0;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
}

.divider {
  height: 20px; /* Adjust height as needed */
  width: 100%;
}

    /* Custom class for the main content container */
.main-content-container {
  width: 100%;
  margin: 0 auto; /* Center the container */
  background-color: var(--theme); /* Light theme background */
  color: black; /* Light theme text color */
}

/* Light mode styles */
.light-mode .main-content-container {
  background-color: var(--theme-light); /* Light theme background */
  color: var(--primary-light); /* Light theme text color */
  /* Add any other light mode specific styles here */
}

/* Dark mode styles */
.dark-mode .main-content-container {
  background-color: var(--theme-dark); /* Dark theme background */
  color: var(--primary-dark); /* Dark theme text color */
  /* Add any other dark mode specific styles here */
}

.app-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--theme); /* Light theme background */
  color: var(--primary); /* Light theme text color */
}

/* Light mode styles */
.light-mode .app-container {
  background-color: var(--theme-light); /* Light theme background */
  color: var(--primary-light); /* Light theme text color */
  /* Add any other light mode specific styles here */
}

/* Dark mode styles */
.dark-mode .app-container {
  background-color: var(--theme-dark); /* Dark theme background */
  color: var(--primary-dark); /* Dark theme text color */
  /* Add any other dark mode specific styles here */
}

.divider {
  height: 30px; /* Increased space between elements on smaller screens */
  }
  
.separator {
    text-align: center;
    margin: 20px 0;
  }

.center-justify-section-title {
    text-align: center;
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
}

.discussion-text {
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
    margin-bottom: 10px;
  }

.conclusion-text {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
    margin-bottom:  20px;  
    margin-top:  0px;
  }
  
.dash-graph {
  zoom: 0.45;
}

.graphviz-outer-container-style {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.graphviz-container-style {
  justify-content: center; 
  align-items: center;
  display: flex;
  width: 750px;  
  height: 750px;
  transform: scale(0.97);  
  transform-origin: top left;
  overflow: hidden;
  margin: auto;
  align-items: center;
}

.centered-datepicker-container {
  display: flex; 
  justify-content: center;
  margin: auto;
  color: black;

  padding: 5px;
  border-radius: 10px;
  background-color: transparent; 
  border: none;
}

.custom-date-picker .DateInput {
  width: auto; /* Adjust the width as necessary */
  background-color: transparent; 
  color: black;
}

.custom-date-picker .DateInput_input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 11px; /* Custom font size */
  border-radius: 5px !important;
  color: black;
  border: 1px solid #ccc;
  padding: 6px;
  width: 100%;
}

.custom-date-picker .DateRangePickerInput {
  /* Styles for the container of the input fields */
  border-radius: 10px !important;
  background-color: whitesmoke!important; /* Dark background */
  color: black;
  border: none !important;
  align-items: center;
  display: flex;
  justify-content: center;
}

.custom-date-picker .DateRangePickerInput__showClearDates {
  padding: 0 8px 0 8px; /* Adjust spacing around the clear ('X') button */
  color: black;
}

.custom-date-picker .DateRangePickerInput__arrow {
  padding: 0 5px 0 5px; /* Adjust spacing around the arrow */
  color: black;
}

.custom-date-picker .DayPicker,
.custom-date-picker .DayPickerKeyboardShortcuts_buttonReset {
    /* Styles for the calendar dropdown and its button */
  border-radius: 10px !important;
  background-color: whitesmoke; /* Dark background */
  color: black;
  border: 1px solid #666; /* Light border */
}

.custom-date-picker .CalendarMonth {
  /* Styles for the month display in the calendar */
  background-color:whitesmoke; /* Dark background */
  color: black;
  border: 1px solid #666; /* Light border */
}

.custom-date-picker .CalendarDay {
  /* Styles for individual days in the calendar */
  border-radius: 10px !important;
  background-color: whitesmoke; /* Dark background */
  color: black;
  border: 1px solid #666; /* Light border */
}

.small-font-button {
  font-size: 10px; /* Or whatever font size you desire */
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
}

.large-font-button {
  font-size: 20px; /* Or whatever font size you desire */
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
}

video {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;  /* Maintains aspect ratio */
  object-fit: cover;
}

.card-container {
  margin-left: auto;
  margin-right: auto;
}

.card-body {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.responsive-gif {
  width: 100%;  /* Default to full width */
  height: auto;  /* Maintain aspect ratio */
  max-width: 600px;  /* Maximum size */
}

@media (min-width: 475px) {
  .main-content-container {
    max-width: 470px; /* Adjust this value as needed */
  }

  .dash-graph {
    zoom: 0.7;
    transform-origin: center;
  }

  .center-justify-section-title {
    max-width:450px;
    min-width: 390px;
  }

  .main-paragraph {
    max-width:470px;
    min-width: 470px;
  }

  .main-paragraph-mid {
    max-width:470px;
    min-width: 470px;
  }

  .main-paragraph-small {
    width: 450px;
  }

  .custom-dropdown {
    min-width: 150px; /* Prevent shrinking below this width */
    max-width: 200px;
  }
  .custom-button {
    min-width: 150px; /* Prevent buttons from becoming too narrow */
    max-height: 30px; /* Prevent buttons from becoming too short */
  }

  .centered-datepicker-container {
    padding: 5px;
    max-width: 100%; /* Allow the container to fill the screen on small devices */
  }

  .dropdown-style {
    min-width: 280px; /* Prevent shrinking below this width */
    max-width: 280px;
  }

  .dropdown-container-style {
    min-width: 280px; /* Prevent shrinking below this width */
    max-width: 280px;
    
  }

  .card-container {
    min-width: 400px; /* Limit the maximum width of the card */
    max-width: 460px;
  }

  .card-body {
      padding: 5px; /* More padding for a roomier look on large screens */
  }

  .responsive-gif {
    max-width: 95%;  /* Full width on smaller screens */
  }

}

@media (min-width: 576px) {
  .navbar-collapse {
    justify-content: center;
  }

  .main-content-container {
    max-width: 570px; /* Slightly less than the breakpoint to account for padding/margins */
  }
  .center-justify-section-title {
    max-width: 540px;
    min-width: 487px;
  }

  .dash-graph {
    zoom: 0.85;
    transform-origin: center;
  }

  .main-paragraph {
    max-width: 570px;
    min-width: 570px;
  }

  .main-paragraph-mid {
    max-width: 570px;
    min-width: 570px;
  }

  .main-paragraph-small {
    width: 540px;
  }

  .custom-button {
    min-width: 150px; /* Prevent buttons from becoming too narrow */
    max-height: 30px; /* Prevent buttons from becoming too short */
  }

  .centered-datepicker-container {
    padding: 5px;
    max-width: 100%; /* Allow the container to fill the screen on small devices */
  }

  .custom-dropdown {
    min-width: 150px; /* Prevent shrinking below this width */
    max-width: 200px;
  }

  .dropdown-style {
    min-width: 280px; /* Prevent shrinking below this width */
    max-width: 280px;
  }

  .dropdown-container-style {
    min-width: 280px; /* Prevent shrinking below this width */
    max-width: 280px;
  }

  .card-container {
    min-width: 300px; /* Limit the maximum width of the card */
    max-width: 460px;
  }

  .card-body {
      padding: 10px; /* More padding for a roomier look on large screens */
  }

  .responsive-gif {
    max-width: 90%;  /* Full width on smaller screens */
  }

}

@media (min-width: 768px) {
  .main-content-container {
    max-width: 760px;
  }
  .center-justify-section-title {
    min-width: 520px;
    max-width: 720px;
  }
  .dash-graph {
    zoom: 0.8;
    transform-origin: center;
  }

  .main-paragraph {
    max-width: 760px;
    min-width: 760px;
  }

  .main-paragraph-mid {
    max-width: 760px;
    min-width: 760px;
  }

  .main-paragraph-small {
    width: 740px;
  }

  .custom-dropdown {
    min-width: 150px; /* Prevent shrinking below this width */
    max-width: 200px;
  }
  .custom-button {
    min-width: 150px; /* Prevent buttons from becoming too narrow */
    max-height: 30px; /* Prevent buttons from becoming too short */
  }

  .centered-datepicker-container {
    padding: 5px;
    max-width: 100%; /* Allow the container to fill the screen on small devices */
  }

  .dropdown-style {
    min-width: 280px; /* Prevent shrinking below this width */
    max-width: 280px;
  }

  .dropdown-container-style {
    min-width: 280px; /* Prevent shrinking below this width */
    max-width: 280px;
  }

  .card-container {
    min-width: 500px; /* Limit the maximum width of the card */
  }

  .card-body {
      padding: 10px; /* More padding for a roomier look on large screens */
  }

  .responsive-gif {
    max-width: 90%;  /* Full width on smaller screens */
  }

}

@media (min-width: 992px) {
  .main-content-container {
    max-width: 960px;
  }

  .center-justify-section-title {
    max-width: 960px;
    min-width: 585px;
  }

  .dash-graph {
    zoom: 1;
    transform-origin: center;
  }

  .main-paragraph {
    max-width:960px;
    min-width: 960px;
  }

  .main-paragraph-mid {
    max-width: 960px;
    min-width: 960px;
  }

  .main-paragraph-small {
    width: 900px;
  }

  .custom-dropdown {
    min-width: 150px; /* Prevent shrinking below this width */
    max-width: 200px;
  }
  .custom-button {
    min-width: 150px; /* Prevent buttons from becoming too narrow */
    max-height: 30px; /* Prevent buttons from becoming too short */
  }

  .centered-datepicker-container {
    padding: 5px;
    max-width: 100%; /* Allow the container to fill the screen on small devices */
  }

  .dropdown-style {
    min-width: 280px; /* Prevent shrinking below this width */
    max-width: 280px;
  }

  .dropdown-container-style {
    min-width: 280px; /* Prevent shrinking below this width */
    max-width: 280px;
  }

  .card-container {
    max-width: 600px; /* Limit the maximum width of the card */
  }

  .card-body {
      padding: 30px; /* More padding for a roomier look on large screens */
  }

  .responsive-gif {
    max-width: 80%;  /* Full width on smaller screens */
  }

}

@media (min-width: 1024px) {
  .main-content-container {
    max-width: 980px;
  }

  .center-justify-section-title {
    max-width: 980px;
    min-width: 960px;
  }
  .dash-graph {
    zoom: 1;
    transform-origin: center;
  }

  .main-paragraph {
    max-width: 960px;
    min-width: 960px;
  }

  .main-paragraph-mid {
    max-width: 960px;
    min-width: 960px;
  }

  .main-paragraph-small {
    width: 880px;
  }

  .custom-dropdown {
    min-width: 150px; /* Prevent shrinking below this width */
    max-width: 200px;
  }
  .custom-button {
    min-width: 150px; /* Prevent buttons from becoming too narrow */
    max-height: 30px; /* Prevent buttons from becoming too short */
  }

  .centered-datepicker-container {
    padding: 5px;
    max-width: 100%; /* Allow the container to fill the screen on small devices */
  }

  .dropdown-style {
    min-width: 280px; /* Prevent shrinking below this width */
    max-width: 280px;
  }

  .dropdown-container-style {
    min-width: 280px; /* Prevent shrinking below this width */
    max-width: 280px;
  }

  .card-container {
    max-width: 600px; /* Limit the maximum width of the card */
  }

  .card-body {
      padding: 30px; /* More padding for a roomier look on large screens */
  }

  .responsive-gif {
    max-width: 70%;  /* Full width on smaller screens */
  }

}

@media (min-width: 1200px) {
  .main-content-container {
    max-width: 1140px;
}

  .dash-graph {
    zoom: 1;
    transform-origin: center;
  }

  .center-justify-section-title {
    max-width: 1140px;
    min-width: 1140px;
  }

  .main-paragraph {
    max-width: 960px;
    min-width: 960px;
  }

  .main-paragraph-mid {
    max-width: 960px;
    min-width: 960px;
  }

  .main-paragraph-small {
    width: 780px;
  }

  .custom-button {
    min-width: 150px; /* Prevent buttons from becoming too narrow */
    max-height: 30px; /* Prevent buttons from becoming too short */
  }
  .custom-dropdown {
    min-width: 150px; /* Prevent shrinking below this width */
    max-width: 200px;
  }

  .centered-datepicker-container {
    padding: 5px;
    max-width: 100%; /* Allow the container to fill the screen on small devices */
  }

  .dropdown-style {
    min-width: 280px; /* Prevent shrinking below this width */
    max-width: 280px;
  }

  .dropdown-container-style {
    min-width: 280px; /* Prevent shrinking below this width */
    max-width: 280px;
  }

  .card-container {
    max-width: 600px; /* Limit the maximum width of the card */
  }

  .card-body {
      padding: 30px; /* More padding for a roomier look on large screens */
  }
  .responsive-gif {
    max-width: 80%;  /* Full width on smaller screens */
  }

}