{% extends "base.html" %}

{% block content %}
<div style="margin-top: 100px;"></div>
<div class="home-blurb">We apply energy transition expertise to build data experiences for engagement, efficiency, and inference.</div>
<div class="profile">
    <div style="margin-top: 100px;"></div>
    <div class="profile_inner" style="transform: translateY(-30px); text-align: center;">
        <!-- Inline styles to make the image round and set dimensions -->
        <img src="{{ url_for('static', filename='/images/f63.png') }}"
        style="border-radius: 50%; width: 480px; height: 480px; object-fit: cover;border: 2px solid black;">
    </div>
</div>
<footer>
    <p style="margin-top: 140px;">© {{ current_year }} PGMoDE. All rights reserved.</p>
</footer>

{% endblock %}

